#map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: linen;

}

.container {
	height: 100%;
	padding-left: 20px;
    padding-right: 0;
    background-color: linen;
}
.row {
	height: 100%;
}

.col-sm-10 {
	height: 100%;
}

#nytimes-articles {
  height: 50%;
}